{# empty Twig template #}
{% extends 'KnarfPlatformBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}| Contact
{% endblock %}

{% block knarfplatform_body %}
    {{ parent() }}
    
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="container-fluid">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.nom, 'contact.nom' | trans) }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.courriel, 'contact.email' | trans) }}
        {{ form_errors(form.courriel) }}
        {{ form_widget(form.courriel, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.objet, 'contact.objet' | trans) }}
        {{ form_errors(form.objet) }}
        {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.message, 'contact.contenu' | trans) }}
        {{ form_errors(form.message) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class='form-group'>
        <div class="col-sm-2">
            <div class="g-recaptcha" data-sitekey="6LflHGoUAAAAAL2-TAbBbg_MD3X9KRT2-tXDMS_A"></div>
                <input type="submit" value="Envoyer">
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}