{# src/Knarf/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

{% block title %}
  Modifier un commentaire - {{ parent() }}
{% endblock %}

{% block knarfplatform_body %}
    {{ parent() }}
    
  <h2>Modifier votre commentaire</h2>

  {{ include("KnarfPlatformBundle:Commentaire:form.html.twig") }}


  <p>
      {% if commentaire.commentaire %}
    <a href="{{ path('knarf_platform_view', {'slug': commentaire.commentaire.advert.slug}) }}#commentaire" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
      {% else %}
    <a href="{{ path('knarf_platform_view', {'slug': commentaire.advert.slug}) }}#commentaire" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
      {% endif %}
  </p>

{% endblock %}
