{# src/Knarf/PlatformBundle/Resources/views/Commentaire/form.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

<h3>Ajouter un commentaire </h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.contenu, "Contenu du commentaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.contenu) }}
    <div class="col-sm-10">
      {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>


  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
  {{ form_widget(form.Effacer, {'attr': {'class': 'btn btn-primary'}}) }}
  <span id="annul" onClick="document.getElementById('formulaire-comment-annonce').style.display='none'">
  {{ form_widget(form.Annuler, {'attr': {'class': 'btn btn-danger'}}) }}
  </span>
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>