{# src/Knarf/PlatformBundle/Resources/views/Commentaire/formulaire.html.twig #}

{% form_theme formulaire 'bootstrap_3_layout.html.twig' %}
{{ form_start(formulaire) }}
    {{ form_errors(formulaire) }}
    <div class="form-group">
        {{form_widget(formulaire)}}
    </div>
{{ form_rest(formulaire) }}  
{{ form_end(formulaire) }}
