{# src/Knarf/PlatformBundle/Resources/views/Commentaire/view.html.twig #}

{% block knarfplatform_body %}
    

    <div class="media">
      <div class="media-left">
        {% if  commentaire.user.avatar is not empty %}
        <img src="{{vich_uploader_asset(commentaire.user.avatar, 'mediaFile') | imagine_filter('my_thumb') |replace({'http://':'https://'}) }}" alt="{{ commentaire.user.avatar.nomMedia }}"  />
        {% else  %}
        <img src="{{ asset('/images/icon-person_211874.png') }}" alt="icon person" />
        {% endif %}
      </div>
      
      <div class="media-body">
          <h4 class="media-heading">{{ commentaire.user.username }}, le {{ commentaire.datePublication|date('d/m/Y') }}
          </h4>
    {{ commentaire.contenu }}
    
{#   {% if app.user and commentaire.user is not same as( app.user ) %}#}
{% if app.user %}
        
        <button class="btn btn-primary" data-toggle="modal" data-target="#commentaireModal">
    	<i class="fa fa-plus"></i> Répondre
        </button>
            
            <!-- Modal -->
            <div class="modal fade" id="commentaireModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalTitle">Ajout d'un commentaire</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
{#                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        button type="button" class="btn btn-primary">Save changes</button>#}
                        </div>
                    </div>
                </div>
            </div>
            
    {% endif %} 

    {% if commentaire.commentaires %}
        {% for comment in commentaire.commentaires %}
            <div class="media">          
                
                <div class="media-left">
                    
                    {% if comment.user.avatar is not empty %}
                        <img src="{{vich_uploader_asset(comment.user.avatar, 'mediaFile') | imagine_filter('my_thumb') |replace({'http://':'https://'}) }}" alt="{{ comment.user.avatar.nomMedia }}"  />
                    {% else  %}
                        <img src="{{ asset('/images/icon-person_211874.png') }}" alt="icon person" />
                    {% endif %}
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ comment.user.username }}, le {{ comment.datePublication|date('d/m/Y') }}</h4>
            
                    {{ comment.contenu }}
                </div>
                
                {% if comment.user == app.user %}
        
                    <a href="{{ path('commentaire_edit', {'id': comment.id}) }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-edit"></i>
                            Modifier le commentaire
                    </a>
                    <a href="{{ path('commentaire_delete', {'id': comment.id}) }}" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                            Supprimer le commentaire
                    </a>
                {% endif %} 
            </div>
            <hr>
        {% endfor %}
    {% endif %}        
    
    </div>
    </div>
    <p>
    <p>  

    {% if commentaire.user == app.user %}
        
        <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
                Modifier le commentaire
        </a>
        <a href="{{ path('commentaire_delete', {'id': commentaire.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
                Supprimer le commentaire
        </a>
    {% endif %} 
    </p>
    <hr>
{% endblock %}

{% block javascripts %}
    
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    
   
    <script>
		$('#commentaireModal').on('shown.bs.modal', function () {
			var modal = $(this);
			$.ajax('{{ path('commentaire_repond', {'id' : commentaire.id}) }}', {
				success: function(data) {
					modal.find('.modal-body').html(data);
				}
			});
		});
 
        $(document).on('submit', 'formulaire', function(e){
			// il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
            e.preventDefault();
            
            $form = $(e.target);
            modal = $('#commentaireModal');
 
			var title = $('#article_title').val();
            
        	var $submitButton = $form.find(':submit');
    		$submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
                $submitButton.prop('disabled', true); 
			
			$form.ajaxSubmit({
				type: 'post',
				success: function(data) {
					if (data == 'success') {
						$('ul').append('<li>' + title + '</li>');
						modal.modal('toggle');
					} else {
						modal.find('.modal-body').html(data);
					}
				},
				error: function(jqXHR, status, error) {
					  $submitButton.html(button.data('label'));
					  $submitButton.prop('disabled', false);
				}
			});
        });
	</script>
{% endblock %}     
