{# src/Knarf/PlatformBundle/Resources/view/Commentaire/vue.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un commentaire - {{ parent() }}
{% endblock %}

{% block knarfplatform_body %}
  

  <div class="media">
      <div class="media-left">
      </div>
      <div class="media-body">
          <h4 class="media-heading">{{ commentaire.user.username }}, le {{ commentaire.datePublication|date('d/m/Y') }}
          </h4>
    {{ commentaire.contenu }}
  
    {% if commentaire.commentaires %}
        {% for commentaire in commentaire.commentaires %}
            <div class="media">
                <div class="media-left">
                </div>
            <div class="media-body">
            <h4 class="media-heading">{{ commentaire.user.username }}, le {{ commentaire.datePublication|date('d/m/Y') }}</h4>
            
              {{ commentaire.contenu }}
            </div>
            </div>
        {% endfor %}
    {% endif %}
        
    
    </div>
  </div>  

  <p>
                      
  {% if app.user %}
  <div class="btn btn-default"  onclick="document.getElementById('formulaire-commentaire').style.display='block'" >
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                        Répondre
                </div>    
                <div id="formulaire-commentaire" style="display:none">
                    {{ include("KnarfPlatformBundle:Commentaire:form.html.twig") }}
                </div>   
    {% endif %}            
                <p>  
    <a href="{{ path('commentaire_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    {% if commentaire.user == app.user %}
        
    <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier le commentaire
    </a>
    <a href="{{ path('commentaire_delete', {'id': commentaire.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le commentaire
      
    {% endif %}  
    </a>
  </p>

{% endblock %}
