{# src/Knarf/PlatformBundle/Resources/views/Rubrique/delete.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

{% block title %}
  Supprimer une rubrique - {{ parent() }}
{% endblock %}

{% block knarfplatform_body %}

    {{ parent() }}
    
      <h2>Supprimer une rubrique</h2>

      <p>
        Etes-vous certain de vouloir supprimer la rubrique: "{{ rubrique.intitule }}" ?
      </p>

      {# On met l'id de l'annonce dans la route de l'action du formulaire #}
      <form action="{{ path('rubrique_delete', {'id': rubrique.id}) }}" method="post">
        <a href="{{ path('rubrique_view', {'id': rubrique.id}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour à la rubrique
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
      </form>

{% endblock %}
