{# src/Knarf/PlatformBundle/Resources/view/Rubrique/ext.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

{% block title %}
    
    {{ rubrique.intitule }} | {{ parent() }}
    
{% endblock %}

{% block knarfplatform_body %}
   
    {{ parent() }}
    
{#     {{ render(controller("KnarfPlatformBundle:Rubrique:view", {'slug': rubrique.slug})) }}#}
    
     <div class="well" align="center">    
        <h1>{{ rubrique.intitule }}</h1> 
    </div>
     
    {% if pagination is not empty %}
        

        {# sorting of properties based on query components #}
        <div {% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</div>
        <div>{{ knp_pagination_sortable(pagination, 'Date', 'a.date') }}</div>
   

        {% for entity in pagination %}
    <div class="">
        <div class="">
            {% if entity.published == 1 %}
                
                  
        <article class="">

        <div class="thumbnail">
        <a href="{{ path('knarf_platform_view', {'slug': entity.slug}) }}">
            {% if entity.nomMedia is defined %}        

                {% if entity.nomMedia ends with 'jpg' or entity.nomMedia ends with 'png' or entity.nomMedia ends with 'gif' %}

                    <img src="{{vich_uploader_asset(entity, 'mediaFile') }}" alt="{{ entity.nomMedia }}"/>


                {% elseif entity.nomMedia ends with 'mp3' %}

                    <span class="glyphicon glyphicon-play">
                    </span>

                {% elseif entity.nomMedia ends with 'mp4' %}

                    <div class="embed-responsive embed-responsive-16by9">
                    <video controls>
                    <source src="{{ asset('uploads/medias/') }}{{ entity.nomMedia }}" type="video/mp4">
                    </video>          
                    </div>

                {% else %}                                    
                {% endif %}        

            {% endif %}

            <div class="caption" align="center">
                <h2>{{ entity.title }}</h2>
                <h4>par {{ entity.user.username }}, le {{ entity.date|date('d/m/Y') }}</h4>
            </div>
        </a>
        </div>
    </article>
    
            {%  endif %}
        </div>
    </div>
          {% endfor %}
          
        <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
        </div>
        
    {% else %}
        
        Cette rubrique est vide
        
    {% endif %} 
   
          <br>    
      <div class="well">
         <p>
        {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ path('rubrique_edit', {'slug': rubrique.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
   
        <a href="{{ path('rubrique_delete', {'slug': rubrique.slug}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
        </a>

        {% endif %}
        
        <a href="{{ path('rubrique_ext_index') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
          </p>
      </div>
          


 

{% endblock %}
