{# src/Knarf/PlatformBundle/Resources/views/Rubrique/index_ext.html.twig #}


{% extends "KnarfPlatformBundle::layout.html.twig" %}


{% block title %}

  Liste des rubriques - {{ parent() }}

{% endblock %}


{% block knarfplatform_body %}

    {{ parent() }}
  <h2 style="text-align: center;">Liste des rubriques</h2>  

    {% for rubrique in listRubriques %}
        {% if rubrique.isAdmin == 0 %}
        <div class="col-md-6">
            <div class="well">
            <a href="{{ path('rubrique_ext', {'slug': rubrique.slug}) }}">
                {{ rubrique.intitule }}
            </a>            
                {% if rubrique.adverts %}
                  {% set count = 0 %}
                  {% for entity in rubrique.adverts %}
                      {% if entity.published == 1 %}
                      {% set count = count + 1 %}
                      {% endif %}
                  {% endfor %}
                  ({{ count }} publications)
                {% endif %}   
            </div>
        </div>
        {% endif %}
{#  ROLE ADMIN      #}
        {% if is_granted('ROLE_ADMIN') %}
            {%  if rubrique.isAdmin == 1 %}
        <div class="col-md-6">
            <div class="well " id="rubrique-admin">
            <a href="{{ path('rubrique_ext', {'slug': rubrique.slug}) }}">
                {{ rubrique.intitule }}
            </a>            
                {% if rubrique.adverts %}
                  {% set count = 0 %}
                  {% for entity in rubrique.adverts %}
                      {% if entity.published == 1 %}
                      {% set count = count + 1 %}
                      {% endif %}
                  {% endfor %}
                  ({{ count }} publications)
                {% endif %}   
            </div>
        </div> 
            {% endif %}
        {% endif %}
    {% endfor %} 
    <p>
    {% if is_granted('ROLE_ADMIN') %}        
        <a class="btn btn-primary btn-lg" href="{{ path('rubrique_ajout') }}">
          Ajouter une rubrique »
        </a>
    {% endif %}

{% endblock %}



