{# src/Knarf/PlatformBundle/Resources/views/Rubrique/index.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

  {% block metadata %}
    {{ parent() }}
        <meta name="description" content="Knarf Media est un media alternatif du web 3.0. Créez votre compte, publiez et commentez du contenu depuis l'interface sécurisée." />
        <link rel="canonical" href="{{ website }}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Knarf Media | le media alternatif du web 3.0" />
        <meta property="og:description" content="Knarf Media le media alternatif du web 3.0 l'expression libre" />
        <meta property="og:url" content="{{ website }}" />
        <meta property="og:site_name" content="Knarf Media | le media alternatif du web 3.0" />
    
    
  {% endblock metadata %}

{% block knarfplatform_body %}    

    {{ parent() }}

    {{ render(controller("KnarfPlatformBundle:Advert:menu")) }}

        <br>
{% for rubrique in listRubriques %} 
    {% if rubrique.isAdmin == 0 %}
    <section class="container-fluid" id="section-rubrique">                     
            {% if rubrique.adverts is not empty %}
                  
            <div class="well">
                <a href="{{ path('rubrique_ext', {'slug': rubrique.slug}) }}">
                    <h3 style="text-align: center;">{{ rubrique.intitule }}</h3>
                </a>
            </div>
                  
            {% for entity in rubrique.adverts|slice(0, 3) %}
                      
            <article class="col-md-4">

                <div class="thumbnail">
                    <a href="{{ path('knarf_platform_view', {'slug': entity.slug}) }}">
                    {% if entity.media is defined %}        

                    {% if entity.media.nomMedia ends with 'jpg' or entity.media.nomMedia ends with 'png' or entity.media.nomMedia ends with 'gif' %}

                    <img src="{{vich_uploader_asset(entity.media, 'mediaFile') }}" alt="{{ entity.media.nomMedia }}"/>


                    {% elseif entity.media.nomMedia ends with 'mp3' %}

                    <span class="glyphicon glyphicon-play">
                    </span>

                    {% elseif entity.media.nomMedia ends with 'mp4' %}

                    <div class="embed-responsive embed-responsive-16by9">
                    <video controls>
                    <source src="{{ asset('uploads/medias/') }}{{ entity.media.nomMedia }}" type="video/mp4">
                    </video>          
                    </div>

                    {% else %}                                    
                    {% endif %}        

                    {% endif %}

                    <div class="caption">
                        <b>{{ entity.title }}</b> par <em>{{ entity.user.username }}</em>, le {{ entity.date|date('d/m/Y') }}
                    </div>
                    </a>
                </div>
            </article>        
                      
            {% endfor %}
                  
            {% endif %}    
        
    </section>            
    {% endif %}
{% endfor %}

{%  endblock %}

{% block next_body %}
    
    {{ include('KnarfPlatformBundle:Clock:view.html.twig') }}
{% endblock %}