{# src/Knarf/PlatformBundle/Resources/views/Advert/admin_ajout.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
  Ajouter un article ADMIN
{% endblock %}

{% block knarfplatform_body %}
    
    {{ parent() }}
<div class="container-fluid">

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}


    <div class="form-group">
        {{ form_label(form.rubrique, "Rubrique de l'annonce", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.rubrique) }}       
        {{ form_widget(form.rubrique, {'attr': {'class': 'form-control'}}) }}

    </div>

    <div class="form-group">            
        {{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.title) }}            
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}            
    </div>


    <div class="form-group">
        {{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.content) }}            
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}            
    </div>   

    <div class="form-group">
        {{ form_widget(form.published, {'attr': {'class': 'col-sm-offset-2 col-sm-4'}}) }}
    </div>

    <a href="{{ path('profile') }}" class="btn btn-default" >
        <i class="glyphicon glyphicon-chevron-left"></i>
        Annuler
    </a>    

    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_widget(form.effacer, {'attr': {'class': 'btn btn-danger'}}) }}

    {# Génération automatique des champs pas encore écrits.
    Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
    et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }} 

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}


</div>

  <p>

    Attention : cette annonce sera ajoutée directement sur la page d'accueil après validation du formulaire.
    
    Si vous ne voulez pas la publier maintenant: décochez la case "Publier".
    
    Vous pouvez retrouver cette annonce depuis votre profil

  </p>


{% endblock %}

{% block javascripts %}
    
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/fosckeditor/ckeditor-responsive-images.js') }}"></script>
{% endblock %}    