{# src/Knarf/PlatformBundle/Resources/views/Advert/index.html.twig #}


{% block title %}

Accueil - {{ parent() }}

{% endblock %}


{% block knarfplatform_body %}

    {{ parent() }}
                  
{% for entity in listAdverts %}

<article class="col-md-4">

    <div class="thumbnail hvr-grow">
        <a href="{{ path('knarf_platform_view', {'slug': entity.slug}) }}">
        {% if entity.media.nomMedia is defined %}        

        {% if entity.media.nomMedia ends with 'jpg' or entity.media.nomMedia ends with 'png' or entity.media.nomMedia ends with 'gif' %}

        <img src="{{vich_uploader_asset(entity, 'mediaFile') }}" alt="{{ entity.media.nomMedia }}"/>


        {% elseif entity.media.nomMedia ends with 'mp3' %}

        <span class="glyphicon glyphicon-play">
        </span>

        {% elseif entity.media.nomMedia ends with 'mp4' %}

        <div class="embed-responsive embed-responsive-16by9">
        <video controls>
        <source src="{{ asset('uploads/medias/') }}{{ entity.media.nomMedia }}" type="video/mp4">
        </video>          
        </div>

        {% else %}                                    
        {% endif %}        

        {% endif %}

        <div class="caption">
            <b>{{ entity.title }}</b> par <em>{{ entity.user.username }}</em>, le {{ entity.date|date('d/m/Y') }}
        </div>
        </a>
    </div>
</article>        

{% endfor %}

    
{#<section class="" id="third_section">
    <div class="row">
    {{ render(controller('KnarfPlatformBundle:Rubrique:view', {'slug': 'rubrique-1'})) }}
    </div>
</section>
<section class="" id="fourth_section">
    <div class="row">
    {{ render(controller('KnarfPlatformBundle:Rubrique:view', {'slug': 'rubrique-2'})) }}
    </div>
</section>#}

    {# display navigation #}
<div class="navigation text-center">
    {{ knp_pagination_render(listAdverts) }}
</div>

{% endblock %}



