{# src/Knarf/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

  {% block stylesheets %}
      {{ parent() }}
    <link href="{{ asset('bundles/foscomment/css/comments.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/knarfplatform/css/player.css') }}" type="text/css" rel="stylesheet">
  {% endblock %}

{% block title %}
  {{ parent() }} - {{ advert.title | title }}
{% endblock %}

{% block knarfplatform_body %}
    
    {{ parent() }}
    
    {% if advert.nomMedia is defined %} 
        {% if advert.nomMedia ends with 'jpg' or advert.nomMedia ends with 'JPG' or advert.nomMedia ends with 'png' or advert.nomMedia ends with 'gif' %}                                           
            <img class="img-responsive" src="{{vich_uploader_asset(advert, 'mediaFile') }}" alt="{{ advert.nomMedia }}"/>
        {% elseif advert.nomMedia ends with 'mp3' %}						
            <audio controls>
            <source src="{{ asset('uploads/medias/') }}{{ advert.nomMedia }}" type="audio/mpeg">
            </audio>       
        {% elseif advert.nomMedia ends with 'mp4' %}
        <div class="embed-responsive embed-responsive-16by9" >    
            <video controls>
            <source src="{{ asset('uploads/medias/') }}{{ advert.nomMedia }}" type="video/mp4">
            </video>          
	</div>
        {% else %}                                    
        {% endif %}    
    {% endif %}
    
    <h2>{{ advert.title }}</h2>
    <i>Par 
        {% if app.user %}
            <a href ="{{ path('profile_view', {'slug': advert.user.slug} )}}">{{ advert.user.username }}</a>
        {% else %}
            {{ advert.user.username }}
        {% endif %}    , le {{ advert.date|date('d/m/Y') }} à {{ advert.date|date('H:i') }}</i>
        <p>
    <div class="">
    {{ advert.content | raw }}
    </div>
    <p>
    <p>
    
    <div class="">
        <a href="{{ path('rubrique_ext', {'slug': advert.rubrique.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-right"></i>
            Voir les publications dans cette rubrique
        </a>
        
    
    {% if advert.user == app.user %}
        
    <a href="{{ path('knarf_platform_edit', {'slug': advert.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('knarf_platform_delete', {'slug': advert.slug}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
      
    <a href="{{ path('profile')}}" class="btn btn-default">
        <i class="glyphicon glyphicon-user"></i>
        Retourner à mon profil
    </a>
    {% endif %} 
    </div>
    {# bloc des commentaires #}
    
    <section class="" id="commentaires">
{#        <h4>Commentaires</h4>   
        {% if app.user %}          
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i> Ajouter un commentaire
            </button> 
            
        {% else %}
            Vous devez vous <a href="{{ path('security_login_form') }}">connecter</a> pour commenter
        {% endif %}#}
{% include '@FOSComment/Thread/async.html.twig' with {'id': 'advert' ~ advert.id} %}
    </section>
    <hr>

        {% if not app.user %}
            Vous devez vous <a href="{{ path('security_login_form') }}">connecter</a> pour commenter
        {% endif %}
{#            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" role="dialog">
                        <div class="modal-header">
                            <h5 class="modal-title" id="MyModal">Ajout d'un commentaire</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                    </div>
                </div>
            </div> #}       
{% endblock %}

{% block javascripts %}
    
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/knarfplatform/js/player.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('p').children('img').each(function(){
                $(this).addClass('img-responsive');
            });
        });
    </script>
    
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
   
    <script>
        $j = jQuery.noConflict();
                    $j.xhrPool = []; // array of uncompleted requests
            $j.xhrPool.abortAll = function() { // our abort function
            $j(this).each(function(idx, jqXHR) { 
                jqXHR.abort();
                });
            $j.xhrPool.length = 0
            };
     
            $j.ajaxSetup({
                beforeSend: function(jqXHR) { // before jQuery send the request we will push it to our array
                $j.xhrPool.push(jqXHR);
                            },
                complete: function(jqXHR) { // when some of the requests completed it will splice from the array
                    var index = $j.xhrPool.indexOf(jqXHR);
                    if (index > -1) {
                        $j.xhrPool.splice(index, 1);
                    }
                        }
            });
        
        $j(document).ready(function(){
            

 
        $j(document).on('submit', 'form', function(e){
			// il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
            e.preventDefault();
            
            $jform = $j(e.target);
            modal = $j('#myModal');
 
			
            
        	var $jsubmitButton = $jform.find(':submit');
    		$jsubmitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
    		$jsubmitButton.prop('disabled', true);
 
			// ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de fichier
			$jform.ajaxSubmit({
				type: 'post',
                                beforeSubmit: showRequest,
				success: function(data) {
					if (data === 'success') {
						
						modal.modal('toggle');
                                                location.reload();
					} else {
						modal.find('.modal-body').html(data);
					}
				},
				error: function(jqXHR, status, error) {
					  $jsubmitButton.html(button.data('label'));
					  $jsubmitButton.prop('disabled', false);
				}
			});
        });
        $j(document).on('shown.bs.modal', function () {
        var modal = $j(this);
        var xhr;   
        
            if(xhr && xhr.readyState !== 4){
            xhr.abort();
            }
        
        xhr = $j.ajax('{{ path('commentaire_add', {'slug' : advert.slug}) }}', {
       
        success: function(data) {
                        modal.find('.modal-body').html(data);
                }
        });
                
        });
        });
               // pre-submit callback 
    function showRequest(formData, jqForm, options) { 
    // formData is an array; here we use $j.param to convert it to a string to display it 
    // but the form plugin does this for you automatically when it submits the data 
    var queryString = $j.param(formData); 
 
    // jqForm is a jQuery object encapsulating the form element.  To access the 
    // DOM element for the form do this: 
    // var formElement = jqForm[0]; 
 
    console.log('About to submit: \n\n' + queryString); 
 
    // here we could return false to prevent the form from being submitted; 
    // returning anything other than false will allow the form submit to continue 
    return true; 
} 
	</script>#}
{% endblock %}     