{# src/Knarf/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ advert.title | title }}
{% endblock %}

{% block knarfplatform_body %}

    <article class="well">   
    
    {% if advert.nomMedia is defined %} 
        {% if advert.nomMedia ends with 'jpg' or advert.nomMedia ends with 'png' or advert.nomMedia ends with 'gif' %}                                           
            <img class="img-responsive" src="{{vich_uploader_asset(advert, 'mediaFile') }}" alt="{{ advert.nomMedia }}"/>
        {% elseif advert.nomMedia ends with 'mp3' %}						
            <audio controls>
            <source src="{{ asset('uploads/') }}{{ advert.nomMedia }}" type="audio/mpeg">
            </audio>       
        {% elseif advert.nomMedia ends with 'mp4' %}
        <div class="embed-responsive embed-responsive-16by9" >    
            <video controls>
            <source src="{{ asset('uploads/') }}{{ advert.nomMedia }}" type="video/mp4">
            </video>          
	</div>
        {% else %}                                    
        {% endif %}    
    {% endif %}
    
    <h2>{{ advert.title }}</h2>
    <i>Par 
        {% if app.user %}
            <a href ="{{ path('profile_view', {'slug': advert.user.slug} )}}">{{ advert.user.username }}</a>
        {% else %}
            {{ advert.user.username }}
        {% endif %}    , le {{ advert.date|date('d/m/Y') }} à {{ advert.date|date('H:i') }}</i>
    <div class="row">
    {{ advert.content }}
    </div>
    </article>
    
            
            <a href="{{ path('knarf_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
            </a>    
        
    
    {% if advert.user == app.user %}
        
    <a href="{{ path('knarf_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('knarf_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
      
    {% endif %} 
    
    {# bloc des commentaires #}
    
    <div class="comment">
        <h4>Commentaires</h4>        
        <hr>
        <div class="container" >
        {% if advert.commentaires is not empty or commentaire.commentaire.id is defined%} 
            
            {% for commentaire in advert.commentaires %}
              {{ include("KnarfPlatformBundle:Commentaire:view.html.twig", {'commentaire' : commentaire }) }}
            {% endfor %}  
        </div>
        {% else %}
            <div class="row">
            Aucun commentaire
            </div>
        {% endif %} 
    </div>
    <p>
        {% if app.user %}              
    
                <div class="btn btn-default"  onclick="document.getElementById('formulaire-comment-annonce').style.display='block'" >
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                        Laisser un commentaire
                </div>    
                <div id="formulaire-comment-annonce" style="display:none">
                    {{ include("KnarfPlatformBundle:Commentaire:form.html.twig") }}
                </div> 

        {% else %}
            Vous devez vous <a href="{{ path('security_login_form') }}">connecter</a> pour commenter
        {% endif %}       
               
{% endblock %}