{# src/Knarf/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

  {% block stylesheets %}
      {{ parent() }}
    {{ encore_entry_link_tags('comments-css') }}
    {{ encore_entry_link_tags('player-style') }}
  {% endblock %}

{% block title %}
  {{ parent() }} - {{ advert.title | title }}
{% endblock %}

{% block knarfplatform_body %}
    
    {{ parent() }}
    <article class="container-fluid">
        <div class="row">
    <div class="col-md-6">
    {% if advert.media.nomMedia is defined %} 
        {% if advert.media.nomMedia ends with 'jpg' or advert.media.nomMedia ends with 'JPG' or advert.media.nomMedia ends with 'png' or advert.media.nomMedia ends with 'gif' %}                                           
            <img class="img-responsive" src="{{vich_uploader_asset(advert.media, 'mediaFile') }}" alt="{{ advert.media.nomMedia }}"/>
        {% elseif advert.media.nomMedia ends with 'mp3' %}						
            <audio controls>
            <source src="{{ asset('uploads/medias/') }}{{ advert.media.nomMedia }}" type="audio/mpeg">
            </audio>       
        {% elseif advert.media.nomMedia ends with 'mp4' %}
        <div class="embed-responsive embed-responsive-16by9" >    
            <video controls>
            <source src="{{ asset('uploads/medias/') }}{{ advert.media.nomMedia }}" type="video/mp4">
            </video>          
	</div>
        {% else %}                                    
        {% endif %}    
    {% endif %}
    </div>
    <div class="col-md-6">
        <br/>
        <header id="article-title">{{ advert.title }}</header>
    <p>
    <br>
    Par 
        {% if app.user %}
            <a href ="{{ path('profile_view', {'slug': advert.user.slug} )}}">{{ advert.user.username }}</a>
        {% else %}
            {{ advert.user.username }}
        {% endif %}    , le {{ advert.date|date('d/m/Y') }} à {{ advert.date|date('H:i') }}
    </p>
    </div>
    </div>
    <br>
    <section class="col-md-12">
        <p>{{ advert.content | raw }}</p>
    </section>
        
    </article>
    
    <br>
    
    <div class="">
        <a href="{{ path('rubrique_ext', {'slug': advert.rubrique.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-right"></i>
            Voir les publications dans cette rubrique
        </a>
        
    
    {% if advert.user == app.user %}
        
    <a href="{{ path('knarf_platform_edit', {'slug': advert.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('knarf_platform_delete', {'slug': advert.slug}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
      
    <a href="{{ path('profile')}}" class="btn btn-default">
        <i class="glyphicon glyphicon-user"></i>
        Retourner à mon profil
    </a>
    {% endif %} 
    </div>
    <br>
    {# bloc des commentaires #}
    
    <section class="" id="commentaires">
{#        <h4>Commentaires</h4>   
        {% if app.user %}          
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i> Ajouter un commentaire
            </button> 
            
        {% else %}
            Vous devez vous <a href="{{ path('security_login_form') }}">connecter</a> pour commenter
        {% endif %}#}
{% include '@FOSComment/Thread/async.html.twig' with {'id': 'advert' ~ advert.id} %}
    </section>
    <hr>

        {% if not app.user %}
            Vous devez vous <a href="{{ path('security_login_form') }}">connecter</a> pour commenter
        {% endif %}
{#            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" role="dialog">
                        <div class="modal-header">
                            <h5 class="modal-title" id="MyModal">Ajout d'un commentaire</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                    </div>
                </div>
            </div> #}       
{% endblock %}

{% block javascripts %}    
    {{ parent() }}
    {{ encore_entry_script_tags('player') }}
    <script>
        $(document).ready(function(){
            $('p').children('img').each(function(){
                $(this).addClass('img-responsive');
            });
        });
    </script>    
    
{% endblock %}     