{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Knarf Plateforme{% endblock %}</title>

  {% block stylesheets %}
    <link href="{{ asset('bundles/knarfplatform/css/main.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/knarfuser/css/main.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/knarfplatform/css/hover-min.css') }}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ path('knarf_platform_home') }}">Ma plateforme d'annonces</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Annonces<span class="caret"></span></a>
          <ul class="dropdown-menu">
             {{ render(controller("KnarfPlatformBundle:Advert:menu")) }}
          </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">Rubriques<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {{ render(controller("KnarfPlatformBundle:Rubrique:menu")) }}
            </ul>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}              
          <li><a href="{{ path('knarf_platform_add') }}">Ajouter une annonce</a></li>          
          {% endif %}        
        <li><a href="{{ path('contact') }}">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}  
       
    <li class="badge">
        {% if  app.user.nomMedia is not empty %}
        <img src="{{vich_uploader_asset(app.user, 'mediaFile') | imagine_filter('my_thumb') }}" alt="{{ app.user.nomMedia }}"  />
        {% else  %}
        {% image '@KnarfUserBundle/Resources/public/images/if_icon-person_211874.png' %}
        <img src="{{ asset_url }}" alt="" />
        {% endimage %}
    </li>
        {% endif %}

        {% if app.request.get('_route')!= 'profile'%}
                    
        <li><a href="{{ path('profile') }}">{{ app.user.username }}</a></li>        
            
        {% endif %}
        
        <li><a href="{{ path('security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
        
        {% else %}
            
        <li><a href="{{ path('knarf_user_register_register') }}"><span class="glyphicon glyphicon-user"></span> S'enregistrer</a></li>
        <li><a href="{{ path('security_login_form') }}"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
<div class="container">
    <div id="header" class="jumbotron">
      
      <p>
       <h1> Ce projet est propulsé avec Symfony3 par Norminfo</h1>
      
      <p>
        <a class="btn btn-primary btn-lg" href="https://norminfo.eu" target="blank">
          Aller voir Norminfo »
        </a>
      </p>
    </div>
    
    <div class="row">
      <div id="content" class="col-md-9">
                {% set flashbag_notices = app.session.flashbag.get('notice') %}
            {% if flashbag_notices is not empty %}
            <div class="glyphicon glyphicon-remove" id="msg" onClick="cacher();">
		{% for notice in flashbag_notices %}
                    {{ notice }}
		{% endfor %}
            </div>
	{% endif %}
     
        {% block body %}
            
        {% endblock %}    
        
         </div>
 
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}      
            {{ render(controller("KnarfUserBundle:Security:index")) }}  
        {% endif %}
    </div>
<hr>
    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
      <p>
      <p><a href="//www.dmca.com/Protection/Status.aspx?ID=26aaf6fe-fc66-41db-b995-c6f783965e2b" title="DMCA.com Protection Status" class="dmca-badge"> <img src="//images.dmca.com/Badges/dmca_protected_sml_120y.png?ID=26aaf6fe-fc66-41db-b995-c6f783965e2b" alt="DMCA.com Protection Status"></a> <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script></p>
    </footer>
</div>
  <div id="back-to-top" style="display:bloc;">
      <a href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Revenir en haut de la page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
  </div>
      {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
                $(document).ready(function(){
                $(document.getElementById("msg")).click(function(){
                $(this).hide();
                });
                });
    </script>
    <script>
                $(document).ready(function(){
                $(document.getElementById("commentaire")).click(function(){
                $(this).hide();
                });
                });
    </script>
    <script>
            $(document).ready(function(){
            $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
            $('#back-to-top').fadeIn();
            } else {
            $('#back-to-top').fadeOut();
            }
            });
            // scroll body to 0px on click
            $('#back-to-top').click(function () {
            $('#back-to-top').tooltip();
            $('body,html').animate({
            scrollTop: 0
            }, 800);
            return false;
            });        
            $('#back-to-top').tooltip();
            });
</script>
  {% endblock %}

</body>
</html>
