{# src/Knarf/UserBundle/Resources/views/Security/edit_image.html.twig #}

{% extends 'KnarfPlatformBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
    
    Avatar de {{ app.user.username }} - {{ parent()}}
{% endblock %}

{% block knarfplatform_body %}
    {{ parent() }}
    <h3>Modifier votre avatar, {{ app.user.username }}</h3>


<p>

{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group">
    {% if  app.user.nomMedia is not empty %}
        <img src="{{vich_uploader_asset(app.user, 'mediaFile') | imagine_filter('my_thumb_resize') }}" alt="{{ app.user.nomMedia }}"  />
    {# {{ form_widget(form.mediaFile.delete) }} #}
    {% endif %} 
    {{ form_widget(form.mediaFile, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.mediaFile) }}
</div>
    {{ form_widget(form.register, {'attr': {'class': 'btn btn-primary'}}) }}

{{ form_rest(form) }}    
{{ form_end(form) }}
<p>
<p>
    <a href="{{ path('profile') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à mon profil
    </a>
{% endblock %}