{% block subject %}
   Connectez-vous à votre profil
{% endblock %}

{% block body %}
Bonjour {{ username }}.
<p>
<p>
    Vous avez créé un <a href="https://blog.franckruer.fr/member/{{ slug }}">compte</a> sur la plateforme Knarf Media le
    {{ ('day.'~dateCreation|date('N'))|trans|raw~}}
    {{ dateCreation|date('d')|raw }}
    {{ ('month.'~dateCreation|date('m'))|trans|raw~}} 
    {{ dateCreation|date('Y')|raw }}
<p>
Vous ne vous êtes pas encore connecté. Connectez-vous pour découvrir toutes les fonctionnalités
offertes par la plateforme:
<p>
    + connection sécurisée HTTP2
<p>
    + publication d'articles (texte enrichi, image, media audio, video) et de commentaires
<p>
    + gestion du profil
<p>
    + conversation sur la messagerie
<p>
    À très bientôt sur <a href="https://blog.franckruer.fr">KNARF MEDIA</a>.
<p> 
<a href ="https://blog.franckruer.fr/login"><button>Se connecter</button></a>
<p>
 
Franck, administrateur
<p>
    
{% endblock %}


