{# src/Knarf/UserBundle/Resources/views/Security/profiler.html.twig #}

{% extends '::layout.html.twig' %}

{% block title %}
    Profil de {{ user.username }}
{% endblock %}

{% block body %}

<div class="well">
    <h3>{{ user.username }}</h3>
    
    {% if  user.nomMedia is not empty %}
    <div class="badge">
        <img src="{{vich_uploader_asset(user, 'mediaFile') | imagine_filter('my_thumb_resize') }}" alt="{{ user.nomMedia }}"  />
    </div>
    {% endif %}
    <p>
    Membre depuis le: {{ user.createdAt|date('m/d/Y') }}
    </p>
    <p>
    Dernière connection: {{ user.lastTimeConnect|date('m/d/Y H:i:s')}}
    </p>
</div>    


{% if user.adverts is not empty %}
<div class="well">
    <h4>Ses articles</h4>
    <ul class="list-unstyled"> 
        {% for advert in user.adverts %}
            <li>
                <a href="{{ path('knarf_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                
            </li>
        {% endfor %}
    </ul>    
</div>
{% endif %}
<p>

{% endblock %}