{# src/Knarf/UserBundle/Resources/views/Security/profiler.html.twig #}

{% extends '::layout.html.twig' %}

{% block title %}
    Profil de {{ user.username }}
{% endblock %}

{% block body %}

<div class="well">
    <h3>{{ user.username }}</h3>
    
    {% if  user.nomMedia is not empty %}
    <div class="badge">
        <img src="{{vich_uploader_asset(user, 'mediaFile') | imagine_filter('my_thumb_resize') }}" alt="{{ user.nomMedia }}"  />
    </div>
    {% endif %}
    <p>
    Membre depuis le: {{ user.createdAt|date('d/m/Y') }}
    </p>
    <p>
     Dernière connection:    
    {% if user.lastTimeConnect is not empty %}
     le {{ user.lastTimeConnect|date('d/m/Y H:i')}}
    
    {% else %}
        jamais
    {% endif %}
    </p>
    {% if user.adverts is not empty %}
        
        <ul class="nav nav-pills nav-stacked">  
            {% for entity in app.user.adverts %}
                <li>
                    <a href="{{ path('knarf_platform_view', { 'id': entity.id }) }}">
                        {{ entity.title }}>
                        dans la rubrique {{ entity.rubrique.intitule }}
                    </a>                        
                </li>    
            {% endfor %}
        </ul>
    {% endif %}    
    <p>
    {% if is_granted('ROLE_ADMIN') %}
        Adresse ip: {{ user.adresseIp }}
    {% endif %}
    </p>
</div>    


{% if user.adverts is not empty %}
<div class="well">
    <h4>Ses articles</h4>
    <ul class="list-unstyled"> 
        {% for advert in user.adverts %}
            <li>
                <a href="{{ path('knarf_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                
            </li>
        {% endfor %}
    </ul>    
</div>
{% endif %}
<p>

{% endblock %}
