{# src/Knarf/UserBundle/Resources/views/Security/profiler.html.twig #}

{% extends 'KnarfUserBundle::layout.html.twig' %}

{% block title %}
    Profil de {{ user.username }} - {{ parent() }}
{% endblock %}

{% block knarfuser_body %}
    
    {{ parent() }}

    <div class="well">
        <h3>{{ user.username }}</h3>

        {% if  user.avatar is not empty %}        
            <img src="{{vich_uploader_asset(user.avatar, 'mediaFile') | imagine_filter('my_thumb_resize') }}" alt="{{ user.avatar.nomMedia }}"  />        
        {% else %}
            {% image '@KnarfUserBundle/Resources/public/images/if_icon-person_211874.png' %}
                <img class="media-object" src="{{ asset_url }}" alt="" />
            {% endimage %}
        {% endif %}
        <p>
        Membre depuis le: {{ user.createdAt|date('d/m/Y') }}
        </p>
        <p>
         Dernière connection:    
        {% if user.lastTimeConnect is not empty %}
         le {{ user.lastTimeConnect|date('d/m/Y H:i')}}

        {% else %}
            jamais
        {% endif %}
        </p>   
        <p>
        {% if is_granted('ROLE_ADMIN') %}
            Adresse ip: {{ user.adresseIp }}
        {% endif %}
        </p>
    </div>    


{% if user.adverts is not empty %}
<div class="well">
    <h4>Ses articles</h4>
    <ul class="list-unstyled"> 
        {% for advert in user.adverts %}
            <li>
                <a href="{{ path('knarf_platform_view', {'slug': advert.slug}) }}">
                    {{ advert.title }}
                </a>
                
            </li>
        {% endfor %}
    </ul>    
</div>
{% endif %}
<p>

{% endblock %}
