{# src/Knarf/UserBundle/Resources/views/Security/profil.html.twig #}

{% extends 'KnarfPlatformBundle::layout.html.twig' %}

{% block title %}
    Compte de {{ app.user.username }} - {{ parent() }}
{% endblock %}

{% block knarfplatform_body %}
    
    {{ parent() }}

    <div class="well">
        <h3> {{ app.user.username }}</h3>
        <p>
            {% if is_granted('ROLE_ADMIN') %}
            Administrateur
            {% endif %}        
        {% if  app.user.avatar is not empty %}
        <div class="">
            <a href="{{ path('edit_avatar') }}" data-toggle="tooltip" data-placement="right" title="Modifier votre avatar">
            <img src="{{vich_uploader_asset(app.user.avatar, 'mediaFile') | imagine_filter('my_thumb') }}" alt="{{ app.user.avatar.nomMedia }}"/>
            </a>
        </div>
        {% else %}
        <a href="{{ path('add_avatar') }}" data-toggle="tooltip" data-placement="right" title="Ajouter votre avatar">
            <img src="{{ asset('/images/icon-person_211874.png') }}" alt="icon person" />
        </a>    
        {% endif %}
        
        <p>
        Vous êtes membre depuis le: {{ app.user.createdAt|date('d/m/Y') }}
        <p>

        Dernière connection le: {{ app.user.lastTimeConnect|date('d/m/Y H:i:s')}}


    </div>

    <div class="well">
        Votre adresse email: {{ app.user.email }}
        <p>
        <p>
        {% if is_granted('ROLE_USER') %}
        <a class="btn btn-primary btn-lg" href="{{ path('change_email') }}">
            Modifier
        </a>
        {% endif %}    
    </div>

    <div class="well">    
        <a class="btn btn-primary btn-lg" href="{{ path('change_password') }}">{{ 'menu.changement_password' | trans }}</a>
    </div>

    {% if app.user.adverts %}
        <div class="well">
            <h3>Mes annonces</h3>
            
        <table style="width:100%">
             <caption>Mes annonces en attente</caption>
            <tr>                          
                <th>Date</th>                            
                <th>Titre</th>
                <th>Rubrique</th>
            </tr>
            {% for entity in app.user.adverts %}
                {% set count = 0 %}
            <tr>                           
                {% if entity.published == false %}
                <td>{{ entity.date|date('d/m/Y') }}</td>
                <td><a href="{{ path('knarf_platform_view', { 'slug': entity.slug }) }}">
                    {{ entity.title }}</a>
                </td>
                <td>{{ entity.rubrique.intitule }}</td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>    
            
        <table style="width:100%">
             <caption>Mes annonces publiées</caption>
            <tr>                          
                <th>Date</th>                            
                <th>Titre</th>
                <th>Rubrique</th>
            </tr>
            {% for entity in app.user.adverts %}                            
            <tr>                           
                {% if entity.published == true %}                    
                <td>{{ entity.date|date('d/m/Y') }}</td>
                <td><a href="{{ path('knarf_platform_view', { 'slug': entity.slug }) }}">
                        {{ entity.title }}</a>
                </td>
                <td>{{ entity.rubrique.intitule }}</td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>        
                
        </div>
    {% else %}
    {% endif %}
    <p>
    {% if is_granted('ROLE_USER') %}
        <div class="well">
        <a class="btn btn-primary btn-lg" href="{{ path('knarf_platform_add') }}">
            Ajouter une annonce »
        </a>
        </div>
    {% endif %}
    <p>
    {% if app.user.commentaires is not empty %}
        <div class="well">

            <h4>Vos commentaires</h4>

            <ul class="list-unstyled"> 
            {% for commentaire in app.user.commentaires %}
                <li>
                    {% if commentaire.id is defined %}
                        
                        
                        <a href="{{ commentaire.thread.permalink }}#fos_comment_{{ commentaire.id }}">
                        "{{ commentaire.body }}"
                        </a>


                    {% endif %}
                    <hr>

{#                    {%  if commentaire.commentaire.id is defined %}
                        {{ commentaire.contenu }}
                        sur le <a href="{{ path('knarf_platform_view', {'slug': commentaire.commentaire.advert.slug}) }}#commentaire"> commentaire de:
                        <b>{{ commentaire.commentaire.user.username }}</b></a>

                    {% endif %}#}
                    <hr>
                </li>
            {% endfor %}
        </ul>    
    </div>
    {% endif %}
    <p>
    <p>
        <div class="well">
            <a href="{{ path('knarf_user_delete', {'slug': user.slug}) }}" class="btn btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
          Supprimer votre profil
        </a>
        </div>  
       
{% endblock %}