{# src/Knarf/UserBundle/Resources/views/Security/profil.html.twig #}

{% extends '::layout.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block body %}

<div class="well">
    <h3>Bienvenue {{ user.username }}</h3>
    
    {% if  user.nomMedia is not empty %}
    <div class="badge">
        <img src="{{vich_uploader_asset(user, 'mediaFile') | imagine_filter('my_thumb_resize') }}" alt="{{ user.nomMedia }}"  />
    </div>
    {% endif %}
    <p>
    Membre depuis le: {{ user.createdAt|date('m/d/Y') }}
    </p>
</div>
    



<div class="well">
    Adresse email: {{ user.email }}
</div>

<div class="well">
    <h4>Mes commentaires</h4>
    <ul class="list-unstyled"> 
        {% for commentaire in user.commentaires %}
            <li>
                <a href="{{ path('knarf_commentaire_view', {'id': commentaire.id}) }}">
                    {{ commentaire.contenu }}
                </a>
                sur l'annonce: <a href="{{ path('knarf_platform_view', {'id': commentaire.advert.id}) }}">
                    {{ commentaire.advert.title }}
                </a>
            </li>
        {% endfor %}
    </ul>    
</div>
<p>
<div class="">
    <a href="{{ path('profile_edit') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier le profil
    </a>
</div>

{% endblock %}