{# src/Knarf/UserBundle/Resources/views/Security/profil.html.twig #}

{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ app.user.username }}
{% endblock %}

{% block body %}

<div class="well">
    <h3>Bienvenue {{ user.username }}</h3>
    
    {% if  user.nomMedia is not empty %}
    <div class="badge">
        <img src="{{vich_uploader_asset(user, 'mediaFile') | imagine_filter('my_thumb_resize') }}" alt="{{ user.nomMedia }}"  />
    </div>
    {% endif %}
    <div class="row">
    Vous êtes membre depuis le: {{ user.createdAt|date('d/m/Y') }}
    </div>
    <p>
    Dernière connection: {{ user.lastTimeConnect|date('m/d/Y H:i:s')}}
    </p>
    
</div>

<div class="well">
    Votre adresse email: {{ user.email }}
</div>

{% if app.user.adverts is not empty%}
    <div class="well">
                
        <h3>Vos annonces</h3>
        
        <ul class="nav nav-pills nav-stacked">  
            {% for entity in app.user.adverts %}
                <li>
                    <a href="{{ path('knarf_platform_view', { 'id': entity.id }) }}">
                        {{ entity.title }}</a>
                </li>    
            {% endfor %}
        </ul>
            
    </div>
{% else %}
{% endif %}

{% if app.user.commentaires is not empty %}
    <div class="well">
        
        <h4>Vos commentaires</h4>
        
        <ul class="list-unstyled"> 
        {% for commentaire in user.commentaires %}
            <li>
                {% if commentaire.advert.id is defined %}
                    
                    <a href="{{ path('commentaire_view', {'id': commentaire.id}) }}">
                    {{ commentaire.contenu }}
                    </a>
                    sur l'annonce: <a href="{{ path('knarf_platform_view', {'id': commentaire.advert.id}) }}">
                    {{ commentaire.advert.title }}
                    </a>
                

                {% endif %}
                <hr>

                {%  if commentaire.commentaire.id is defined %}
                    {{ commentaire.contenu }}
                    sur le <a href="{{ path('commentaire_view', {'id': commentaire.commentaire.id}) }}"> commentaire de:
                    <b>{{ commentaire.commentaire.user.username }}</b></a>
                    
                {% endif %}
                <hr>
            </li>
        {% endfor %}
    </ul>    
</div>
{% endif %}
<p>

<div class="">
    <a href="{{ path('profile_edit') }}" class="btn btn-block">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier mon profil
    </a>
</div>


{% endblock %}