{# src/Knarf/UserBundle/Resources/views/Security/register.html.twig #}
{% extends 'KnarfPlatformBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
    {{ parent() }}|{{ 'user.registration.label' | trans }}
{% endblock %}

{% block knarfplatform_body %}
    
    {{ parent() }}
    
    <div style="text-align: center">
        <h1>{{ 'user.registration.label' | trans }}</h1>
    </div>
    
    {{ form(form, { attr: { novalidate: 'novalidate' } }) }}
    
{% endblock %}